
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

.container-pbar {
  font-family: "Rubik", sans-serif;
 
  text-align: center;
}

.progress-container-pbar::before {
  content: "";
  background: #e0e0e0;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  z-index: 0;
}

.progress-container-pbar  {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 52vh;
    right: 13vh;
}

.progress-pbar  {
    background: #3498db;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 1vh;
    width: 0%;
    z-index: -1;
    transition: 0.4s ease;
    z-index: 1;
}

.circle-pbar  {
    background: #fff;
    color: #999;
    border-radius: 50%;
    height: 8vh;
    width: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #e0e0e0;
    transition: .4s ease;
    z-index: 1;
    font-size: 3vh;
    font-family: 'Rubik';
}

.circle-pbar.active {
    border-color: #3498db;
    color: #fff;
    background: #3498db;
  
}

.btn-pbar  {
  background-color: #3498db;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  border: 0;
  border-radius: 6px;
  padding: 8px 30px;
  margin: 5px;
  font-size: 14px;
}

.btn-pbar :active {
  transform: scale(0.98);
}

.btn-pbar :focus {
  outline: 0;
}

.btn-pbar :disabled {
  background-color:#e0e0e0;
  cursor: not-allowed;
}
